main {
    padding: 20px;
}

.blog-container {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.blog-subtitle {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}

.blog-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 180px;
    width: 100%;
}

.btn {
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.update-btn {
    background-color: #3498db;
    color: white;
  
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    
}

.delete-btn:hover {
    background-color: #e74c5d;
}